@use 'reset';
@use 'variables' as *;

.leaf-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    div {
        &:nth-child(1) {
            left: 4%;
            animation: leafallin 15s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(2) {
            left: 9%;
            animation: leafallin 20s linear infinite;
            animation-delay: -5s;
        }

        &:nth-child(3) {
            left: 15%;
            animation: leafallin 20s linear infinite;
            animation-delay: 0s;
        }

        &:nth-child(4) {
            left: 85%;
            animation: leafallin 15s linear infinite;
            animation-delay: -5s;
        }

        &:nth-child(5) {
            left: 93%;
            animation: leafallin 12s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(6) {
            left: 98%;
            animation: leafallin 20s linear infinite;
            animation-delay: -1s;
        }

        &:nth-child(7) {
            left: 100%;
            animation: leafallin 17s linear infinite;
            animation-delay: -4s;
        }

        &:nth-child(8) {
            left: 12%;
            animation: leafallin 12s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(9) {
            left: 0%;
            animation: leafallin 22s linear infinite;
            animation-delay: -3s;
        }

        &:nth-child(10) {
            left: 88%;
            animation: leafallin 22s linear infinite;
            animation-delay: -3s;
        }

        &:nth-child(11) {
            left: 97%;
            animation: leafallin 15s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(12) {
            left: 99%;
            animation: leafallin 24s linear infinite;
            animation-delay: -1s;
        }
    }

    .leaf {
        position: absolute;
        display: block;
        background-color: #ff7417;
        height: 40px;
        width: 40px;
        border-radius: 250px 0;

        &.l {
            border-radius: 0 250px;
        }
    }
}

@keyframes leafallin {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(20px) rotate(180deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(255deg);
        opacity: 0;
    }
}


audio {
    position: fixed;
    opacity: .3;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin: 12px;
    width: 200px;
    &:hover {
        opacity: .9;
    }
}
.myhr {
    width: 30%;
    margin: 20px auto;
}

.root {
    max-width: 1080px;
    margin: 10px auto;
    position: relative;
    border: 3px dashed #fd9800;
    box-shadow: 0 0 0 12px rgba(255, 174, 0, 0.521);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    &::before {
        content: "";
        background-image: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: blur(2px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
    }

    &__adorno {
        position: absolute;
        top: 100%;
    }

    .button {
        display: none;
        padding: 8px;
        width: 80%;
        text-align: center;
        margin: auto;
        background: #ff7417;
        position: absolute;
        font-size: 3rem;
        font-family: $tipo-secundaria;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }

    .logo {
        position: relative;
        width: 55%;
        margin: auto;
        filter: drop-shadow(0 2px 2px rgba(255, 153, 0, 0.952));
    }
}

.main {
    width: 100%;
    position: relative;
    border: 2px solid white;
    // background: yellow;
    .boxmodel {
        position: relative;
//         &::before {
//             content: '';
//             position: absolute;
//             top: 0;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 20%;
//             height: 6px;
//             background: #fff;
//             z-index: 20;
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
// }
    }
    .titulo {
        text-align: center;
        font-size: 9rem;
        color: #ff9700;
        margin: 20px auto;
    }

    .subtitulo {
        font-family: $tipo-secundaria;
        text-align: center;
        font-size: 2.8rem;
        margin: 20px auto;
        width: 60%;
    }

    .box-counter {
        display: flex;
        width: 85%;
        margin: auto;

        p {
            display: flex;
            flex-direction: column;
            font-size: 12rem;
            margin: 80px auto;
            text-align: center;
            background: red;
            width: 200px;
            align-items: center;

            border: none;
            border-radius: 10px;
            background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
            background-blend-mode: normal, normal, screen, overlay, normal;
            box-shadow: 0px 0px 10px 1px #000000;

            span {
                font-size: 4rem;
                margin: 8px auto;
            }
        }
    }

    .protocolo {
        width: 100%;
        padding: 60px 10%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffe7a5;

        .flecha {
            margin: 0 10px;
        }
    }
    .boxmodel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        overflow: hidden;
    }
    model-viewer {
        position: relative;
        top: -6px;
        margin: auto;
        width: 20%;
    }
}

.iglesia {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        border: 3px dashed #fd9800;
        box-shadow: 0 0 0 12px rgba(255, 174, 0, 0.521);
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 800px;
        height: 600px;

        .bx-top {
            position: relative;
            display: flex;
            gap: 24px;
            width: 100%;
            height: 70%;
            padding: 24px;
            font-size: 6rem;
            background: #feffec;
            box-shadow: 0px 10px 0px 0px rgba(58, 59, 0, 0.75);
            &__a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 3.6rem;
                text-align: center;
                overflow: hidden;
                width: 70%;
                height: 100%;
                border: 1px dashed #f5f396;
                padding: 8px;

                h1 {
                    margin: 6px auto;
                }

                figure {
                    width: 86%;
                    margin: auto;
                    border: 3px outset #f5f396;
                }
            }

            &__b {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 30%;
                height: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 2rem;
                    width: 100%;

                    &:nth-child(1) {}

                    &:nth-child(2) {
                        height: auto;

                        a {
                            font-family: $tipo-secundaria;
                            margin: 0 auto 18px auto;
                            background: #f5eab0;
                            padding: 8px 12px;
                            width: 90%;
                            text-align: center;

                            &:hover {
                                background: #fad72b;
                            }
                        }

                        iframe {
                            height: auto;
                        }
                    }

                }
            }
        }

        .bx-bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 30%;
            background: #ffe7a5;
            text-align: center;
            font-size: 3rem;
            font-family: $tipo-secundaria;

            hr {
                width: 50%;
                margin: 4px auto;
            }

            h1 {
                font-size: 3.4rem;
                margin: 4px auto;
            }

            h3 {
                font-size: 2.6rem;
            }

            p {
                font-size: 2.2rem;
            }

        }
    }

    .div {
        position: absolute;

        &:nth-child(1) {
            top: 0;
            right: 0;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
        }

        .capa_1 {
            width: 600px;
            margin: 20px;

            path {
                fill: #faa972;
            }
        }

        .capa_3 {
            width: 600px;
            margin: 20px;

            path {
                fill: #ff7417;
            }
        }
    }
}

.evento {
    .myhr {
        width: 30%;
        margin: 20px auto;
    }
    .card {
        position: relative;
        width: 60%;
        height: 520px;
        color: #2e2d31;
        background: $w-color;
        overflow: hidden;
        margin: 60px auto;
        font-size: 4rem;
        border: 3px dashed #fd9800;
        box-shadow: 0 0 0 12px rgba(255, 174, 0, 0.521);
        transition: ease .6s;
        -webkit-transition: ease .6s;
        -moz-transition: ease .6s;
        -ms-transition: ease .6s;
        -o-transition: ease .6s;
        &:hover{
            transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
        }
    }

    .temporary_text {
        font-weight: bold;
        font-size: 24px;
        color: #f8f8f8;
    }

    .card_title {
        font-weight: bold;
    }

    .card_content {
        position: absolute;
        left: 0;
        bottom: 0;
        /* edit the width to fit card */
        width: 100%;
        padding: 20px;
        background: #ffe7a5;
        border-top-left-radius: 20px;
        /* edit here to change the height of the content box */
        transform: translateY(150px);
        transition: transform .25s;
        transform: translateY(0);
        font-family: $tipo-secundaria;
        box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, .5);
    }

    .card_content::before {
        content: '';
        position: absolute;
        top: -47px;
        right: -45px;
        width: 100px;
        height: 100px;
        transform: rotate(-175deg);
        border-radius: 50%;
        box-shadow: inset 48px 48px #ffe7a5;
        z-index: 10;
    }

    .card_title {
        color: #131313;
        line-height: 15px;
        font-size: 4rem;
        font-weight: 600;
    }

    .card_subtitle {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: 400;
    }

    .card_description {
        font-size: 1.8rem;
        opacity: 1;
        transition: opacity .5s;
    }
    &__mapa {
        width: 60%;
        margin: 60px auto;
        padding: 8px 16px;
        background: #f8bf04;
        font-family: $tipo-secundaria;
        font-size: 4rem;
        text-align: center;
    }
}


.bebes {
    width: 100%;
    background: #ffe7a5;
    font-size: 4rem;
    text-align: center;
    padding: 20px 10px;
    font-family: $tipo-secundaria;
    span {
        display: block;
        margin: 12px auto;
        width: 80%;
        font-size: 2.6rem;
    }
    p {
        width: 50%;
        margin: auto;
        font-size: 2.6rem;
    }
    svg {
        width: 30%;
        margin: 16px auto;
    }
}

.galeria {
    width: 100%;
    .titulo {
        text-align: center;
        font-size: 9rem;
        color: #ff9700;
        margin: 80px auto;
    }
    .grid-gallery {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
        grid-gap: 10px;
      }
      
      .grid-gallery .grid-item {
        position: relative;
        background-color: #efefef;
        overflow: hidden;
      }
      
      .grid-gallery .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      
      .grid-gallery .grid-item:hover img {
        transform: scale(1.1);
      }
      
      .grid-gallery .grid-item a {
        cursor: zoom-in;
      }
      
      .grid-gallery .grid-item:nth-child(3n - 2) {
        grid-column: span 2;
        grid-row: span 2;
      }
      
      /* Let's make it responsive */
      @media (max-width: 768px) {
        .grid-gallery {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          grid-auto-rows: 400px;
        }
      
        .grid-gallery .grid-item:nth-child(3n - 2) {
          grid-column: unset;
          grid-row: unset;
        }
      } 
}






@media only screen and (max-width: 600px) {
    .leaf-box {
        display: none;
    }
    audio {
        width: 110px;
        opacity: .1;
    }
    .myhr {
        width: 80%;
        margin: 20px auto;
    }
    .root {
        width: 100vw;
        margin: 0 auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        border: none;
        overflow-x: none;
    }

    .header {
        width: 100vw;
        background-image: url('../../assets/img/header_mobile.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        .logo {
            position: absolute;
            top: 30%;
            width: 95%;
            margin: auto;
            filter: drop-shadow(0 2px 2px rgba(8, 5, 0, 0.952));
        }

        .button {
            display: block;
        }
        &__adorno {
            top: 101%;
        }
    }

    .main {
        overflow: hidden;
        .myhr {
            width: 80%;
        }

        .titulo {
            font-size: 5rem;
        }

        .subtitulo {
            font-family: $tipo-secundaria;
            font-size: 1.6rem;
            width: 90%;
        }

        model-viewer {
            width: 90%;
        }

        .box-counter {
            width: 100%;
            margin: auto;
            overflow: hidden;

            p {
                font-size: 6rem;
                margin: 20px auto;
                text-align: center;
                background: red;
                width: 80px;
                align-items: center;

                border: none;
                border-radius: 10px;
                background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
                background-blend-mode: normal, normal, screen, overlay, normal;
                box-shadow: 0px 0px 10px 1px #000000;

                span {
                    font-size: 2rem;
                    margin: 8px auto;
                }
            }
        }

        .protocolo {
            flex-direction: column;
            gap: 30px;

            figure {
                width: 40%;
            }

            .flecha {
                transform: rotate(90deg) scale(.5);
            }
        }
    }

    .iglesia {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        overflow: hidden;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            width: 94%;
            margin: 10px auto;
            height: auto;

            .bx-top {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: auto;
                font-size: 6rem;
                &__a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    figure {
                        width: 100%;
                        margin: 10px;
                    }
                }

                &__b {
                    width: 100%;
                    height: auto;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;

                        figure {
                            width: 90%;
                            margin: 10px;
                        }

                        iframe {
                            width: 90%;
                        }
                    }
                }
            }

            .bx-bot {
                width: 100%;
                height: 30%;
                padding: 14px 0;
            }
        }

        .div {
            // display: none;
            position: relative;

            &.hide {
                display: none;
            }

            &:nth-child(1) {
                top: 0;
                right: 0;
            }

            &:nth-child(3) {
                bottom: 0;
                left: 0;
            }

            .capa_1 {
                width: 300px;
                margin: 10px;

                path {
                    fill: #faa972;
                }
            }

            .capa_3 {
                width: 350px;
                margin: 10px;

                path {
                    fill: #ff7417;
                }
            }
        }
    }
    .evento {
        width: 100%;
        padding: 20px 10px;
        .myhr {
            width: 80%;
            margin: 20px auto;
        }
        .card {
            width: 90%;
            height: 390px;
        }
    }
    .bebes {
        h2 {
            font-size: 2.8rem;
        }
        span {
            width: 95%;
            font-size: 2rem;
        }
        svg {
            width: 70%;
        }
        h3 {
            font-size: 2.6rem;
        }
        p {
            width: 95%;
            font-size: 2rem;
        }
    }
    .galeria {
        .titulo {
            width: 80%;
            font-size: 6rem;
        }
    }
    @keyframes hidebar {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}

