@use 'reset';
@use 'variables' as *;

.leaf-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;

    div {
        &:nth-child(1) {
            left: 4%;
            animation: leafallin 15s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(2) {
            left: 9%;
            animation: leafallin 20s linear infinite;
            animation-delay: -5s;
        }

        &:nth-child(3) {
            left: 15%;
            animation: leafallin 20s linear infinite;
            animation-delay: 0s;
        }

        &:nth-child(4) {
            left: 85%;
            animation: leafallin 15s linear infinite;
            animation-delay: -5s;
        }

        &:nth-child(5) {
            left: 93%;
            animation: leafallin 12s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(6) {
            left: 98%;
            animation: leafallin 20s linear infinite;
            animation-delay: -1s;
        }

        &:nth-child(7) {
            left: 100%;
            animation: leafallin 17s linear infinite;
            animation-delay: -4s;
        }

        &:nth-child(8) {
            left: 12%;
            animation: leafallin 12s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(9) {
            left: 0%;
            animation: leafallin 22s linear infinite;
            animation-delay: -3s;
        }

        &:nth-child(10) {
            left: 88%;
            animation: leafallin 22s linear infinite;
            animation-delay: -3s;
        }

        &:nth-child(11) {
            left: 97%;
            animation: leafallin 15s linear infinite;
            animation-delay: -7s;
        }

        &:nth-child(12) {
            left: 99%;
            animation: leafallin 24s linear infinite;
            animation-delay: -1s;
        }
    }

    .leaf {
        position: absolute;
        display: block;
        background-color: $p2-color;
        height: 40px;
        width: 40px;
        border-radius: 250px 0;

        &.l {
            border-radius: 0 250px;
        }
    }
}

@keyframes leafallin {
    0% {
        opacity: 0;
        top: -10%;
        transform: translateX(20px) rotate(0deg);
    }

    10% {
        opacity: 1;
    }

    20% {
        transform: translateX(-20px) rotate(45deg);
    }

    40% {
        transform: translateX(-20px) rotate(90deg);
    }

    60% {
        transform: translateX(20px) rotate(180deg);
    }

    80% {
        transform: translateX(-20px) rotate(180deg);
    }

    100% {
        top: 110%;
        transform: translateX(-20px) rotate(255deg);
        opacity: 0;
    }
}

.scrolldown {
    --sizeX: 30px;
    --sizeY: 50px;
    position: absolute;
    bottom: 5%;
    width: var(--sizeX);
    height: var(--sizeY);
    margin-left: var(sizeX / 2);
    border: calc(var(--sizeX) / 10) solid $p2-color;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 16px;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: 50%;
        width: 6px;
        height: 6px;
        margin-left: -3px;
        background-color: $p-color;
        border-radius: 100%;
        animation: scrolldown-anim 2s infinite;
        box-sizing: border-box;
        box-shadow: 0px -5px 3px 1px #2a547066;
      }
      .chevrons {
        padding: 6px 0 0 0;
        margin-left: -3px;
        margin-top: 48px;
        width: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .chevrondown {
        margin-top: -6px;
        position: relative;
        border: solid $p2-color;
        border-width: 0 3px 3px 0;
        display: inline-block;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
      }
      .chevrondown:nth-child(odd) {
        animation: pulse54012 500ms ease infinite alternate;
      }
      
      .chevrondown:nth-child(even) {
        animation: pulse54012 500ms ease infinite alternate 250ms;
      }
      @keyframes scrolldown-anim {
        0% {
          opacity: 0;
          height: 6px;
        }
      
        40% {
          opacity: 1;
          height: 10px;
        }
      
        80% {
          transform: translate(0, 20px);
          height: 10px;
          opacity: 0;
        }
      
        100% {
          height: 3px;
          opacity: 0;
        }
      }
      @keyframes pulse54012 {
        from {
          opacity: 0;
        }
      
        to {
          opacity: 0.5;
        }
      }
  }
  
body {
    &.modal{
        overflow: hidden;
    }
    &.modal .entrada {
        display: flex;
    }
}

audio {
    position: fixed;
    opacity: .3;
    z-index: 100;
    bottom: 0;
    right: 0;
    margin: 12px;
    width: 200px;
    &:hover {
        opacity: .9;
    }
}
.myhr {
    width: 30%;
    margin: 20px auto;
}

.root {
    max-width: 1080px;
    margin: 10px auto;
    position: relative;
    border: 3px dashed $p-color;
    box-shadow: 0 0 0 12px $p2-color;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    // &::before {
    //     content: "";
    //     background-image: inherit;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     filter: blur(2px);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 99%;
    // }

    &__adorno {
        position: absolute;
        top: 100%;
    }

    .button {
        display: none;
        padding: 8px;
        width: 80%;
        text-align: center;
        margin: auto;
        background: $p-color;
        position: absolute;
        font-size: 3rem;
        font-family: $tipo-secundaria;
        top: 70%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }

    .logo {
        position: relative;
        width: 55%;
        margin: auto;
        filter: drop-shadow(0 2px 2px $s-color);
        -webkit-filter: drop-shadow(0 2px 2px $s-color);
}
}

.main {
    width: 100%;
    position: relative;
    // background: yellow;
    .boxmodel {
        position: relative;
//         &::before {
//             content: '';
//             position: absolute;
//             top: 0;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 20%;
//             height: 6px;
//             background: #fff;
//             z-index: 20;
//             -webkit-transform: translateX(-50%);
//             -moz-transform: translateX(-50%);
//             -ms-transform: translateX(-50%);
//             -o-transform: translateX(-50%);
// }
    }
    .titulo {
        text-align: center;
        font-size: 9rem;
        color: $s-color;
        margin: 20px auto;
    }
    .titulo-padres{
        text-align: center;
        font-size: 6rem;
        color: $s-color;
        margin: 20px auto;
        width: 25ch;
    }
    .padre-bx {
        display: flex;
        justify-content: space-evenly;
        width: 90%;
        margin: auto;
        margin-bottom: 60px;
        text-align: center;
        span {
            border: 1px solid $p-color;
        }
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            &:nth-child(2) {
                border: 1px solid $p-color;
            }
            p {
                font-size: 3.4rem;
            }
        }
    }
    .palabras {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: auto;
        .segmento {
            font-size: 2rem;
            font-family: $tipo-secundaria;
            text-align: center;
            padding: 10px;
            width: 50%;
            h3 {
                font-size: 4rem;
                margin: 4px auto;
                color: $s-color;
            }
            h4 {
                font-size: 2.4rem;
                margin-bottom: 10px;
                color: $s2-color;
            }
            p {
                margin-bottom: 20px;
            }
            figure {
                border: 2px solid $p-color;
                padding: 10px;
                width: 350px;
            }
        }
        .palabras__novios {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding: 10px 40px;
        }
    }
    .fechanum {
        display: block;
        font-size: 4rem;
        margin: 20px auto;
        text-align: center;
    }
    .subtitulo {
        font-family: $tipo-secundaria;
        text-align: center;
        font-size: 2.8rem;
        margin: 20px auto;
        width: 60%;
    }

    .box-counter {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 85%;
        margin: 20px auto;
        border-bottom: 2px solid $p-color;
        padding: 30px 10px;
        p {
            display: flex;
            flex-direction: column;
            width: 200px;
            clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 20px) 100%, 0 100%);
            font-size: 6rem;
            align-items: center;
            text-align: center;
            border: 2px solid $p-color;
            span {
                font-size: 3rem;
                margin: 8px auto;
            }
        }
    }

    .boxmodel {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        overflow: hidden;
    }
    model-viewer {
        position: relative;
        top: -6px;
        margin: auto;
        width: 20%;
    }
}

.iglesia {
    width: 100%;
    height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        border: 3px dashed $p2-color;
        box-shadow: 0 0 0 12px $p2-color;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 800px;
        .bx-top {
            position: relative;
            display: flex;
            gap: 24px;
            width: 100%;
            height: 70%;
            padding: 24px;
            font-size: 6rem;
            background: #feffec;
            box-shadow: 0px 10px 0px 0px $p2-color;
            &__a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 3.6rem;
                text-align: center;
                overflow: hidden;
                width: 70%;
                height: 100%;
                border: 1px dashed $s2-color;
                padding: 8px;

                h1 {
                    margin: 6px auto;
                    color: $s-color;
                }

                figure {
                    width: 86%;
                    margin: auto;
                    border: 3px outset $s2-color;
                }
            }

            &__b {
                display: flex;
                flex-direction: column;
                gap: 12px;
                width: 30%;
                height: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 2rem;
                    width: 100%;

                    // &:nth-child(1) {}

                    &:nth-child(2) {
                        height: auto;

                        a {
                            font-family: $tipo-secundaria;
                            margin: 0 auto 18px auto;
                            background: $s2-color;
                            padding: 8px 12px;
                            width: 90%;
                            text-align: center;

                            &:hover {
                                background: $s-color;
                            }
                        }

                        iframe {
                            height: auto;
                        }
                    }

                }
            }
        }

        .bx-bot {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 30%;
            background: $s2-color;
            text-align: center;
            font-size: 3rem;
            font-family: $tipo-secundaria;

            hr {
                width: 50%;
                margin: 4px auto;
            }

            h1 {
                font-size: 3.4rem;
                margin: 4px auto;
            }

            h3 {
                font-size: 2.6rem;
            }

            p {
                font-size: 2.2rem;
            }
            figure {
                margin: 10px auto;
                width: 20%;
            }
        }
    }

    .div {
        position: absolute;

        &:nth-child(1) {
            top: 0;
            right: 0;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
        }

        .capa_1 {
            width: 600px;
            margin: 20px;

            path {
                fill: $p-color;
            }
        }

        .capa_3 {
            width: 600px;
            margin: 20px;

            path {
                fill: $p-color;
            }
        }
    }
}

.evento {
    .myhr {
        width: 30%;
        margin: 20px auto;
    }
    .card {
        position: relative;
        width: 60%;
        height: 730px;
        color: #2e2d31;
        background: $w-color;
        overflow: hidden;
        margin: 60px auto;
        font-size: 4rem;
        border: 3px dashed $p2-color;
        box-shadow: 0 0 0 12px $p-color;
        transition: ease .6s;
        -webkit-transition: ease .6s;
        -moz-transition: ease .6s;
        -ms-transition: ease .6s;
        -o-transition: ease .6s;
        &:hover{
            transform: translateY(-10px);
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
        }
    }

    .temporary_text {
        font-weight: bold;
        font-size: 24px;
        color: #f8f8f8;
    }


    .card_content {
        position: absolute;
        left: 0;
        bottom: 0;
        /* edit the width to fit card */
        width: 100%;
        padding: 20px;
        background: $s2-color;
        border-top-left-radius: 20px;
        /* edit here to change the height of the content box */
        transform: translateY(150px);
        transition: transform .25s;
        transform: translateY(0);
        font-family: $tipo-secundaria;
        box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, .5);
        &__figure {
            margin: 10px auto;
            width: 20%;
        }
    }

    .card_content::before {
        content: '';
        position: absolute;
        top: -47px;
        right: -45px;
        width: 100px;
        height: 100px;
        transform: rotate(-175deg);
        border-radius: 50%;
        box-shadow: inset 48px 48px $s2-color;
        z-index: 10;
    }

    .card_title {
        color: #131313;
        line-height: 15px;
        font-size: 4rem;
    }

    .card_subtitle {
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
        font-size: 2rem;
        font-weight: 400;
    }

    .card_description {
        font-size: 1.8rem;
        opacity: 1;
        transition: opacity .5s;
    }
    &__mapa {
        width: 60%;
        margin: 60px auto;
        padding: 8px 16px;
        background: $s-color;
        font-family: $tipo-secundaria;
        font-size: 4rem;
        text-align: center;
    }
}


.bebes {
    width: 100%;
    background: $s2-color;
    font-size: 4rem;
    text-align: center;
    padding: 20px 10px;
    font-family: $tipo-secundaria;
    .sobres {
        width: 100%;
        margin: 40px auto;
        figure {
            filter: drop-shadow(-2px 2px 2px rgba(0,0,0,.5 ));
            width: 50%;
            margin: auto;
            -webkit-filter: drop-shadow(-2px 2px 2px rgba(0,0,0,.5 ));
        }
    }
    &__dress {
        width: 50%;
        margin: auto;
    }
    span {
        display: block;
        margin: 12px auto;
        width: 80%;
        font-size: 2.6rem;
    }
    p {
        width: 50%;
        margin: auto;
        font-size: 2.6rem;
    }
    svg {
        width: 30%;
        margin: 16px auto;
    }
}

.galeria {
    width: 100%;
    .titulo {
        text-align: center;
        font-size: 9rem;
        color: $s-color;
        margin: 80px auto;
    }
    .grid-gallery {
        width: 100%;
        max-width: 1080px;
        margin: 0 auto;
        padding: 20px 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
        grid-gap: 10px;
      }
      
      .grid-gallery .grid-item {
        position: relative;
        background-color: #efefef;
        overflow: hidden;
      }
      
      .grid-gallery .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      
      .grid-gallery .grid-item:hover img {
        transform: scale(1.1);
      }
      
      .grid-gallery .grid-item a {
        cursor: zoom-in;
      }
      
      .grid-gallery .grid-item:nth-child(3n - 2) {
        grid-column: span 2;
        grid-row: span 2;
      }
      
      /* Let's make it responsive */
      @media (max-width: 768px) {
        .grid-gallery {
          grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
          grid-auto-rows: 120px;
        }
      
        .grid-gallery .grid-item:nth-child(3n) {
          grid-column: unset;
          grid-row: unset;
        }
      } 
}


.form {
    width: 100%;
    height: 50vh;
}

.footer {
    width: 100%;
    height: 200px;
    background: $p-color;
    display: flex;
    .mid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 3rem;
        width: 50%;
        &:nth-child(1) {
            font-size: 5rem;
            text-align: center;
        }
        &:nth-child(2) {
            font-family: $tipo-secundaria;
            font-size: 2.6rem;
            letter-spacing: 1.2px;
        }
    }
}


.entrada {
    display: none;
    position: fixed;
    overflow: hidden ;
    font-size: 4rem;
    padding: 10px 30px;
    top: 0;
    left: 0;
    background: rgba(46, 77, 67, 0.938);
    width: 100%;
    height: 100vh;
    z-index: 1000;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    h2 {
        font-size: 6rem;
        color: $p-color;
    }
    h3 {
        margin: 60px;
        font-size: 2.2rem;
        opacity: .4;
    }
    div {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 60px auto 0 auto;
        button {
            cursor: pointer;
            font-size: 3rem;
            padding: 8px 16px;
            width: 250px;
            background: $s-color;
            &:hover {
                color: $s2-color
            }
        }
    }
}


@media only screen and (max-width: 768px) {
    body {
        scrollbar-width: none;
        -ms-overflow-style: none;
      }
      body::-webkit-scrollbar {
        display: none;
      }
    audio {
        width: 110px;
        opacity: .1;
    }
    .myhr {
        width: 80%;
        margin: 20px auto;
    }
    .root {
        width: 100vw;
        margin: 0 auto;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        border: none;
        overflow-x: none;
    }
    .scrolldown {
        bottom: 16%;
    }
    .header {
        width: 100vw;
        background-image: url('../../assets/img/header_mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        .logo {
            position: absolute;
            top: 30%;
            width: 95%;
            margin: auto;
            filter: drop-shadow(0 2px 2px rgba(8, 5, 0, 0.952));
        }

        .button {
            display: block;
        }
        &__adorno {
            top: 101%;
        }
    }

    .main {
        overflow: hidden;
        .myhr {
            width: 80%;
        }

        .titulo {
            font-size: 5rem;
        }
        .titulo-padres{
            text-align: center;
            font-size: 4rem;
            color: $s-color;
            margin: 16px auto;
            width: 15ch;
        }
        .padre-bx {
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            margin: auto;
            margin-bottom: 40px;
            span {
                border: 1px solid $p-color;
            }
            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                &:nth-child(2) {
                    border: 1px solid $p-color;
                }
                p {
                    font-size: 1.8rem;
                }
            }
        }
        .palabras {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 90%;
            margin: auto;
            .segmento {
                font-size: 2rem;
                font-family: $tipo-secundaria;
                text-align: center;
                padding: 10px;
                width: 100%;
                h3 {
                    font-size: 3rem;
                    margin: 4px auto;
                }
                h4 {
                    font-size: 1.6rem;
                    margin-bottom: 10px;
                }
                p {
                    margin-bottom: 20px;
                }
                figure {
                    border: 2px solid $p-color;
                    padding: 10px;
                    width: 350px;
                }
            }
            .palabras__novios {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
        }
        .subtitulo {
            font-family: $tipo-secundaria;
            font-size: 1.6rem;
            width: 90%;
        }

        model-viewer {
            width: 90%;
        }

        .box-counter {
            width: 100%;
            overflow: hidden;
            border: none;
            margin: 0 auto;
            padding: 16px 10px;
            p {
                font-size: 4rem;
                width: 80px;
                clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%);
                span {
                    font-size: 1.4rem;
                    margin: 8px auto;
                }
            }
        }

        .protocolo {
            flex-direction: column;
            gap: 30px;

            figure {
                width: 40%;
            }

            .flecha {
                transform: rotate(90deg) scale(.5);
            }
        }
    }

    .iglesia {
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        overflow: hidden;
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            width: 94%;
            margin: 10px auto;
            height: auto;

            .bx-top {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: auto;
                font-size: 6rem;
                &__a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    figure {
                        width: 100%;
                        margin: 10px;
                    }
                }

                &__b {
                    width: 100%;
                    height: auto;

                    div {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 50%;

                        figure {
                            width: 90%;
                            margin: 10px;
                        }

                        iframe {
                            width: 90%;
                        }
                    }
                }
            }

            .bx-bot {
                width: 100%;
                height: 30%;
                padding: 14px 0;
            }
        }

        .div {
            // display: none;
            position: relative;

            &.hide {
                display: none;
            }

            &:nth-child(1) {
                top: 0;
                right: 0;
            }

            &:nth-child(3) {
                bottom: 0;
                left: 0;
            }

            .capa_1 {
                width: 300px;
                margin: 10px;

                path {
                    fill: $s2-color;
                }
            }

            .capa_3 {
                width: 350px;
                margin: 10px;

                path {
                    fill: $p-color;
                }
            }
        }
    }
    .evento {
        width: 100%;
        padding: 20px 10px;
        .myhr {
            width: 80%;
            margin: 20px auto;
        }
        .card {
            width: 90%;
            height: 500px;
            margin-top: 46px;
        }
    }
    .bebes {
        &__dress {
            width: 80%;
            margin: auto;
        }
        .sobres {
            width: 100%;
            margin: 10px auto;
            figure {
                filter: drop-shadow(-2px 2px 2px rgba(0,0,0,.5 ));
                width: 80%;
                margin: auto;
                -webkit-filter: drop-shadow(-2px 2px 2px rgba(0,0,0,.5 ));
            }
        }
        h2 {
            font-size: 2.8rem;
        }
        span {
            width: 95%;
            font-size: 2rem;
        }
        svg {
            width: 70%;
        }
        h3 {
            font-size: 2.6rem;
        }
        p {
            width: 95%;
            font-size: 2rem;
        }
    }
    .galeria {
        .titulo {
            width: 90%;
            font-size: 5rem;
        }
    }
    .form {
        width: 80%;
        height: 50vh;
        margin: auto;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        .mid {

            &:nth-child(1) {
                font-size: 2.6rem;
            }
            &:nth-child(2) {
                font-size: 1.8rem;

            }
        }
    }
    .entrada {
        display: none;
        position: fixed;
        overflow: hidden ;
        font-size: 4rem;
        padding: 10px 30px;
        // top: -10px;
        // left: 0;
        background: rgba(46, 77, 67, 0.966);
        width: 100%;
        height: 100vh;
        z-index: 1000;
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;
        transition: ease .5s;
        -webkit-transition: ease .5s;
        -moz-transition: ease .5s;
        -ms-transition: ease .5s;
        -o-transition: ease .5s;
        h2{
            font-size: 4rem;
            color: $p-color;
        }
        h3 {
            font-size: 1.2rem;
            margin: 60px;
        }
        div {
            display: flex;
            margin: 60px auto;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
            button {
                font-size: 2rem;
                width: 250px;
                background: $s-color;
                padding: 8px 16px;
            }
        }
    }

    @keyframes hidebar {
        0% {opacity: 1;}
        100% {opacity: 0;}
    }
}

