@charset "UTF-8";
/* Tipografía */
/* Parrafos */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Se establece 1rem como 10px*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 100%;
  font-family: "Tangerine", cursive;
  color: #292c35;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  /* opcional Background */
}
body::-webkit-scrollbar {
  display: none;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: #292c35;
  color: #fff;
}

::selection {
  background-color: #ff8300;
  color: #fff;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  hyphens: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  display: block;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
.leaf-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
.leaf-box div:nth-child(1) {
  left: 4%;
  animation: leafallin 15s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(2) {
  left: 9%;
  animation: leafallin 20s linear infinite;
  animation-delay: -5s;
}
.leaf-box div:nth-child(3) {
  left: 15%;
  animation: leafallin 20s linear infinite;
  animation-delay: 0s;
}
.leaf-box div:nth-child(4) {
  left: 85%;
  animation: leafallin 15s linear infinite;
  animation-delay: -5s;
}
.leaf-box div:nth-child(5) {
  left: 93%;
  animation: leafallin 12s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(6) {
  left: 98%;
  animation: leafallin 20s linear infinite;
  animation-delay: -1s;
}
.leaf-box div:nth-child(7) {
  left: 100%;
  animation: leafallin 17s linear infinite;
  animation-delay: -4s;
}
.leaf-box div:nth-child(8) {
  left: 12%;
  animation: leafallin 12s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(9) {
  left: 0%;
  animation: leafallin 22s linear infinite;
  animation-delay: -3s;
}
.leaf-box div:nth-child(10) {
  left: 88%;
  animation: leafallin 22s linear infinite;
  animation-delay: -3s;
}
.leaf-box div:nth-child(11) {
  left: 97%;
  animation: leafallin 15s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(12) {
  left: 99%;
  animation: leafallin 24s linear infinite;
  animation-delay: -1s;
}
.leaf-box .leaf {
  position: absolute;
  display: block;
  background-color: #ff7417;
  height: 40px;
  width: 40px;
  border-radius: 250px 0;
}
.leaf-box .leaf.l {
  border-radius: 0 250px;
}

@keyframes leafallin {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(255deg);
    opacity: 0;
  }
}
.root {
  max-width: 1080px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 0px 10px rgb(255, 138, 84);
  -moz-box-shadow: 0px 0px 0px 10px rgb(255, 255, 84);
  box-shadow: 0px 0px 0px 10px rgb(148, 67, 1);
  position: relative;
  border: 3px dashed #ff9700;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header::before {
  content: "";
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.header__adorno {
  position: absolute;
  top: 100%;
}
.header .button {
  display: none;
  padding: 8px;
  width: 80%;
  text-align: center;
  margin: auto;
  background: #ff7417;
  position: absolute;
  font-size: 3rem;
  font-family: "Rancho", cursive;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.header .logo {
  position: relative;
  width: 55%;
  margin: auto;
  filter: drop-shadow(0 2px 2px rgba(255, 153, 0, 0.952));
}

.main {
  width: 100%;
  position: relative;
  border: 2px solid white;
}
.main .myhr {
  width: 30%;
  margin: 20px auto;
}
.main .titulo {
  text-align: center;
  font-size: 9rem;
  color: #ff9700;
  margin: 20px auto;
}
.main .subtitulo {
  font-family: "Rancho", cursive;
  text-align: center;
  font-size: 2.8rem;
  margin: 20px auto;
  width: 60%;
}
.main .box-counter {
  display: flex;
  width: 85%;
  margin: auto;
}
.main .box-counter p {
  display: flex;
  flex-direction: column;
  font-size: 12rem;
  margin: 80px auto;
  text-align: center;
  background: red;
  width: 200px;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
}
.main .box-counter p span {
  font-size: 4rem;
  margin: 8px auto;
}
.main .protocolo {
  width: 100%;
  padding: 60px 10%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fcd9c2;
}
.main .protocolo .flecha {
  margin: 0 10px;
}
.main model-viewer {
  margin: auto;
  width: 20%;
}

.iglesia {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iglesia__content {
  border: 3px dashed #f596c8;
  box-shadow: 0 0 0 12px rgba(218, 117, 238, 0.349);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  height: 600px;
}
.iglesia__content .bx-top {
  position: relative;
  display: flex;
  gap: 24px;
  width: 100%;
  height: 70%;
  padding: 24px;
  font-size: 6rem;
  background: #ffe5f3;
  -webkit-box-shadow: 0px 10px 0px 0px rgba(0, 57, 59, 0.75);
  -moz-box-shadow: 0px 10px 0px 0px rgba(0, 57, 59, 0.75);
  box-shadow: 0px 10px 0px 0px rgba(0, 57, 59, 0.75);
}
.iglesia__content .bx-top__a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3.6rem;
  text-align: center;
  overflow: hidden;
  width: 70%;
  height: 100%;
  border: 1px dashed #f596c8;
  padding: 8px;
}
.iglesia__content .bx-top__a h1 {
  margin: 6px auto;
}
.iglesia__content .bx-top__a figure {
  width: 86%;
  margin: auto;
  border: 3px outset #96eff5;
}
.iglesia__content .bx-top__b {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 30%;
  height: 100%;
}
.iglesia__content .bx-top__b div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}
.iglesia__content .bx-top__b div:nth-child(2) {
  height: auto;
}
.iglesia__content .bx-top__b div:nth-child(2) a {
  font-family: "Rancho", cursive;
  margin: 0 auto 18px auto;
  background: #f5eab0;
  padding: 8px 12px;
  width: 90%;
  text-align: center;
}
.iglesia__content .bx-top__b div:nth-child(2) a:hover {
  background: #fad72b;
}
.iglesia__content .bx-top__b div:nth-child(2) iframe {
  height: auto;
}
.iglesia__content .bx-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30%;
  background: rgb(154, 214, 241);
  text-align: center;
  font-size: 3rem;
  font-family: "Rancho", cursive;
}
.iglesia__content .bx-bot hr {
  width: 50%;
  margin: 4px auto;
}
.iglesia__content .bx-bot h1 {
  font-size: 3.4rem;
  margin: 4px auto;
}
.iglesia__content .bx-bot h3 {
  font-size: 2.6rem;
}
.iglesia__content .bx-bot p {
  font-size: 2.2rem;
}
.iglesia .div {
  position: absolute;
}
.iglesia .div:nth-child(1) {
  top: 0;
  right: 0;
}
.iglesia .div:nth-child(3) {
  bottom: 0;
  left: 0;
}
.iglesia .div .capa_1 {
  width: 600px;
  margin: 20px;
}
.iglesia .div .capa_1 path {
  fill: #faa972;
}
.iglesia .div .capa_3 {
  width: 600px;
  margin: 20px;
}
.iglesia .div .capa_3 path {
  fill: #ff7417;
}

@media only screen and (max-width: 600px) {
  .leaf-box {
    display: none;
  }
  .root {
    width: 100vw;
    margin: 0 auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    border: none;
  }
  .header {
    width: 100vw;
    background-image: url("../../assets/img/header_mobile.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .header .logo {
    position: absolute;
    top: 30%;
    width: 95%;
    margin: auto;
    filter: drop-shadow(0 2px 2px rgba(8, 5, 0, 0.952));
  }
  .header .button {
    display: block;
  }
  .main {
    overflow: hidden;
  }
  .main .myhr {
    width: 80%;
  }
  .main .titulo {
    font-size: 5rem;
  }
  .main .subtitulo {
    font-family: "Rancho", cursive;
    font-size: 1.4rem;
    width: 90%;
  }
  .main model-viewer {
    width: 90%;
  }
  .main .box-counter {
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  .main .box-counter p {
    font-size: 6rem;
    margin: 20px auto;
    text-align: center;
    background: red;
    width: 80px;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
    box-shadow: 0px 0px 10px 1px #000000;
  }
  .main .box-counter p span {
    font-size: 2rem;
    margin: 8px auto;
  }
  .main .protocolo {
    flex-direction: column;
    gap: 30px;
  }
  .main .protocolo figure {
    width: 40%;
  }
  .main .protocolo .flecha {
    transform: rotate(90deg) scale(0.5);
  }
  .iglesia {
    width: 100%;
    height: 100vh;
    position: relative;
    display: block;
  }
  .iglesia__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    height: auto;
    border: 3px dashed #f596c8;
    box-shadow: none;
  }
  .iglesia__content .bx-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
    font-size: 6rem;
    background: #ffe5f3;
  }
  .iglesia__content .bx-top__a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .iglesia__content .bx-top__a figure {
    width: 100%;
    margin: 10px;
  }
  .iglesia__content .bx-top__b {
    width: 100%;
    height: auto;
  }
  .iglesia__content .bx-top__b div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .iglesia__content .bx-top__b div figure {
    width: 90%;
    margin: 10px;
  }
  .iglesia__content .bx-top__b div iframe {
    width: 90%;
  }
  .iglesia__content .bx-bot {
    width: 100%;
    height: 30%;
    background: rgb(136, 191, 216);
    padding: 14px 0;
  }
  .iglesia .div {
    position: relative;
  }
  .iglesia .div.hide {
    display: none;
  }
  .iglesia .div:nth-child(1) {
    top: 0;
    right: 0;
  }
  .iglesia .div:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  .iglesia .div .capa_1 {
    width: 300px;
    margin: 10px;
  }
  .iglesia .div .capa_1 path {
    fill: #faa972;
  }
  .iglesia .div .capa_3 {
    width: 350px;
    margin: 10px;
  }
  .iglesia .div .capa_3 path {
    fill: #ff7417;
  }
}

/*# sourceMappingURL=style.css.map */
