@charset "UTF-8";
/* Tipografía */
/* Parrafos */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Se establece 1rem como 10px*/
html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 100%;
  font-family: "Tangerine", cursive;
  color: #292c35;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  /* opcional Background */
}
body::-webkit-scrollbar {
  display: none;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: #292c35;
  color: #fff;
}

::selection {
  background-color: #ff8300;
  color: #fff;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  hyphens: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  display: block;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
.leaf-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.leaf-box div:nth-child(1) {
  left: 4%;
  animation: leafallin 15s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(2) {
  left: 9%;
  animation: leafallin 20s linear infinite;
  animation-delay: -5s;
}
.leaf-box div:nth-child(3) {
  left: 15%;
  animation: leafallin 20s linear infinite;
  animation-delay: 0s;
}
.leaf-box div:nth-child(4) {
  left: 85%;
  animation: leafallin 15s linear infinite;
  animation-delay: -5s;
}
.leaf-box div:nth-child(5) {
  left: 93%;
  animation: leafallin 12s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(6) {
  left: 98%;
  animation: leafallin 20s linear infinite;
  animation-delay: -1s;
}
.leaf-box div:nth-child(7) {
  left: 100%;
  animation: leafallin 17s linear infinite;
  animation-delay: -4s;
}
.leaf-box div:nth-child(8) {
  left: 12%;
  animation: leafallin 12s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(9) {
  left: 0%;
  animation: leafallin 22s linear infinite;
  animation-delay: -3s;
}
.leaf-box div:nth-child(10) {
  left: 88%;
  animation: leafallin 22s linear infinite;
  animation-delay: -3s;
}
.leaf-box div:nth-child(11) {
  left: 97%;
  animation: leafallin 15s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(12) {
  left: 99%;
  animation: leafallin 24s linear infinite;
  animation-delay: -1s;
}
.leaf-box .leaf {
  position: absolute;
  display: block;
  background-color: #ff7417;
  height: 40px;
  width: 40px;
  border-radius: 250px 0;
}
.leaf-box .leaf.l {
  border-radius: 0 250px;
}

@keyframes leafallin {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(255deg);
    opacity: 0;
  }
}
.root {
  max-width: 1080px;
  margin: 10px auto;
  -webkit-box-shadow: 0px 0px 0px 10px rgb(255, 138, 84);
  -moz-box-shadow: 0px 0px 0px 10px rgb(255, 255, 84);
  box-shadow: 0px 0px 0px 10px rgb(148, 67, 1);
  position: relative;
  border: 3px dashed #ff9700;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header .button {
  display: none;
  padding: 8px;
  width: 80%;
  text-align: center;
  margin: auto;
  background: #ff7417;
  position: absolute;
  font-size: 3rem;
  font-family: "Rancho", cursive;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.header .logo {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  margin: auto;
}

.main {
  width: 100%;
  position: relative;
}
.main .myhr {
  width: 30%;
  margin: 20px auto;
}
.main .titulo {
  text-align: center;
  font-size: 9rem;
  color: #ff9700;
}
.main .subtitulo {
  font-family: "Rancho", cursive;
  text-align: center;
  font-size: 2.8rem;
  margin: 20px auto;
  width: 60%;
}
.main__adorno {
  position: relative;
  top: 100%;
}
.main .box-counter {
  display: flex;
  width: 85%;
  margin: auto;
}
.main .box-counter p {
  display: flex;
  flex-direction: column;
  font-size: 12rem;
  margin: 80px auto;
  text-align: center;
  background: red;
  width: 200px;
  align-items: center;
  border: none;
  border-radius: 10px;
  background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
  background-blend-mode: normal, normal, screen, overlay, normal;
  box-shadow: 0px 0px 10px 1px #000000;
}
.main .box-counter p span {
  font-size: 4rem;
  margin: 8px auto;
}
.main model-viewer {
  margin: auto;
  width: 20%;
}

.calendar {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/backsec.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 600px) {
  .leaf-box {
    display: none;
  }
  .root {
    width: 100%;
    margin: 0 auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    border: none;
  }
  .header .logo {
    position: absolute;
    top: 30%;
    width: 100%;
    margin: auto;
  }
  .header .button {
    display: block;
  }
  .main .myhr {
    width: 80%;
    margin: 40px auto 0 auto;
  }
  .main .titulo {
    font-size: 5rem;
    margin-top: 80px;
  }
  .main .subtitulo {
    font-family: "Rancho", cursive;
    font-size: 1.4rem;
    width: 90%;
  }
  .main model-viewer {
    width: 90%;
  }
  .main .box-counter {
    width: 100%;
    margin: auto;
  }
  .main .box-counter p {
    font-size: 6rem;
    margin: 20px auto;
    text-align: center;
    background: red;
    width: 80px;
    align-items: center;
    border: none;
    border-radius: 10px;
    background: radial-gradient(ellipse farthest-side at 76% 77%, rgba(245, 228, 212, 0.25) 4%, rgba(255, 255, 255, 0) calc(4% + 1px)), radial-gradient(circle at 76% 40%, #fef6ec 4%, rgba(255, 255, 255, 0) 4.18%), linear-gradient(135deg, #ff0000 0%, #000036 100%), radial-gradient(ellipse at 28% 0%, #ffcfac 0%, rgba(98, 149, 144, 0.5) 100%), linear-gradient(180deg, #cd6e8a 0%, #f5eab0 69%, #d6c8a2 70%, #a2758d 100%);
    background-blend-mode: normal, normal, screen, overlay, normal;
    box-shadow: 0px 0px 10px 1px #000000;
  }
  .main .box-counter p span {
    font-size: 2rem;
    margin: 8px auto;
  }
}

/*# sourceMappingURL=style.css.map */
