@charset "UTF-8";
/* Tipografía */
/* Parrafos */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Se establece 1rem como 10px*/
html {
  font-size: 62.5%;
}

body {
  background-color: #fefae0;
  position: relative;
  width: 100%;
  height: 100vh;
  font-size: 100%;
  font-family: "Cormorant Unicase", serif;
  color: #292c35;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
  /* opcional Background */
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
  object-fit: cover;
  /* opcional */
  -o-object-position: center center;
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
  font-weight: lighter;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: #292c35;
  color: #fff;
}

::selection {
  background-color: #d4a373;
  color: #fff;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  hyphens: none;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  color: inherit;
  border: none;
  display: block;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* (Probándolo, no usar en producción) En el caso de añadir una  */
/* p svg{
    display: inline;
    width: initial;
  } */
/* Configuramos la tipografía para toda la web */
.leaf-box {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}
.leaf-box div:nth-child(1) {
  left: 4%;
  animation: leafallin 15s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(2) {
  left: 9%;
  animation: leafallin 20s linear infinite;
  animation-delay: -5s;
}
.leaf-box div:nth-child(3) {
  left: 15%;
  animation: leafallin 20s linear infinite;
  animation-delay: 0s;
}
.leaf-box div:nth-child(4) {
  left: 85%;
  animation: leafallin 15s linear infinite;
  animation-delay: -5s;
}
.leaf-box div:nth-child(5) {
  left: 93%;
  animation: leafallin 12s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(6) {
  left: 98%;
  animation: leafallin 20s linear infinite;
  animation-delay: -1s;
}
.leaf-box div:nth-child(7) {
  left: 100%;
  animation: leafallin 17s linear infinite;
  animation-delay: -4s;
}
.leaf-box div:nth-child(8) {
  left: 12%;
  animation: leafallin 12s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(9) {
  left: 0%;
  animation: leafallin 22s linear infinite;
  animation-delay: -3s;
}
.leaf-box div:nth-child(10) {
  left: 88%;
  animation: leafallin 22s linear infinite;
  animation-delay: -3s;
}
.leaf-box div:nth-child(11) {
  left: 97%;
  animation: leafallin 15s linear infinite;
  animation-delay: -7s;
}
.leaf-box div:nth-child(12) {
  left: 99%;
  animation: leafallin 24s linear infinite;
  animation-delay: -1s;
}
.leaf-box .leaf {
  position: absolute;
  display: block;
  background-color: #e9edc9;
  height: 40px;
  width: 40px;
  border-radius: 250px 0;
}
.leaf-box .leaf.l {
  border-radius: 0 250px;
}

@keyframes leafallin {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(180deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(255deg);
    opacity: 0;
  }
}
.scrolldown {
  --sizeX: 30px;
  --sizeY: 50px;
  position: absolute;
  bottom: 5%;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX/2);
  border: calc(var(--sizeX) / 10) solid #e9edc9;
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
}
.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px rgba(42, 84, 112, 0.4);
}
.scrolldown .chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrolldown .chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid #e9edc9;
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
@keyframes pulse54012 {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
audio {
  position: fixed;
  opacity: 0.3;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin: 12px;
  width: 200px;
}
audio:hover {
  opacity: 0.9;
}

.myhr {
  width: 30%;
  margin: 20px auto;
}

.root {
  max-width: 1080px;
  margin: 10px auto;
  position: relative;
  border: 3px dashed #ccd5ae;
  box-shadow: 0 0 0 12px #e9edc9;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header__adorno {
  position: absolute;
  top: 100%;
}
.header .button {
  display: none;
  padding: 8px;
  width: 80%;
  text-align: center;
  margin: auto;
  background: #ccd5ae;
  position: absolute;
  font-size: 3rem;
  font-family: "Rancho", cursive;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}
.header .logo {
  position: relative;
  width: 55%;
  margin: auto;
  filter: drop-shadow(0 2px 2px #d4a373);
  -webkit-filter: drop-shadow(0 2px 2px #d4a373);
}

.main {
  width: 100%;
  position: relative;
}
.main .boxmodel {
  position: relative;
}
.main .titulo {
  text-align: center;
  font-size: 9rem;
  color: #d4a373;
  margin: 20px auto;
}
.main .subtitulo {
  font-family: "Rancho", cursive;
  text-align: center;
  font-size: 2.8rem;
  margin: 20px auto;
  width: 60%;
}
.main .box-counter {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 85%;
  margin: auto;
  margin: 20px auto;
}
.main .box-counter p {
  display: flex;
  flex-direction: column;
  width: 250px;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 20px) 100%, 0 100%);
  font-size: 6rem;
  align-items: center;
  text-align: center;
  border: 2px solid #ccd5ae;
}
.main .box-counter p span {
  font-size: 4rem;
  margin: 8px auto;
}
.main .boxmodel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
}
.main model-viewer {
  position: relative;
  top: -6px;
  margin: auto;
  width: 20%;
}

.iglesia {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iglesia__content {
  border: 3px dashed #e9edc9;
  box-shadow: 0 0 0 12px #e9edc9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  height: 600px;
}
.iglesia__content .bx-top {
  position: relative;
  display: flex;
  gap: 24px;
  width: 100%;
  height: 70%;
  padding: 24px;
  font-size: 6rem;
  background: #feffec;
  box-shadow: 0px 10px 0px 0px #e9edc9;
}
.iglesia__content .bx-top__a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 3.6rem;
  text-align: center;
  overflow: hidden;
  width: 70%;
  height: 100%;
  border: 1px dashed #faedcd;
  padding: 8px;
}
.iglesia__content .bx-top__a h1 {
  margin: 6px auto;
}
.iglesia__content .bx-top__a figure {
  width: 86%;
  margin: auto;
  border: 3px outset #faedcd;
}
.iglesia__content .bx-top__b {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 30%;
  height: 100%;
}
.iglesia__content .bx-top__b div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  width: 100%;
}
.iglesia__content .bx-top__b div:nth-child(2) {
  height: auto;
}
.iglesia__content .bx-top__b div:nth-child(2) a {
  font-family: "Rancho", cursive;
  margin: 0 auto 18px auto;
  background: #faedcd;
  padding: 8px 12px;
  width: 90%;
  text-align: center;
}
.iglesia__content .bx-top__b div:nth-child(2) a:hover {
  background: #d4a373;
}
.iglesia__content .bx-top__b div:nth-child(2) iframe {
  height: auto;
}
.iglesia__content .bx-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 30%;
  background: #faedcd;
  text-align: center;
  font-size: 3rem;
  font-family: "Rancho", cursive;
}
.iglesia__content .bx-bot hr {
  width: 50%;
  margin: 4px auto;
}
.iglesia__content .bx-bot h1 {
  font-size: 3.4rem;
  margin: 4px auto;
}
.iglesia__content .bx-bot h3 {
  font-size: 2.6rem;
}
.iglesia__content .bx-bot p {
  font-size: 2.2rem;
}
.iglesia .div {
  position: absolute;
}
.iglesia .div:nth-child(1) {
  top: 0;
  right: 0;
}
.iglesia .div:nth-child(3) {
  bottom: 0;
  left: 0;
}
.iglesia .div .capa_1 {
  width: 600px;
  margin: 20px;
}
.iglesia .div .capa_1 path {
  fill: #ccd5ae;
}
.iglesia .div .capa_3 {
  width: 600px;
  margin: 20px;
}
.iglesia .div .capa_3 path {
  fill: #ccd5ae;
}

.evento .myhr {
  width: 30%;
  margin: 20px auto;
}
.evento .card {
  position: relative;
  width: 60%;
  height: 520px;
  color: #2e2d31;
  background: #fff;
  overflow: hidden;
  margin: 60px auto;
  font-size: 4rem;
  border: 3px dashed #e9edc9;
  box-shadow: 0 0 0 12px #ccd5ae;
  transition: ease 0.6s;
  -webkit-transition: ease 0.6s;
  -moz-transition: ease 0.6s;
  -ms-transition: ease 0.6s;
  -o-transition: ease 0.6s;
}
.evento .card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.evento .temporary_text {
  font-weight: bold;
  font-size: 24px;
  color: #f8f8f8;
}
.evento .card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  /* edit the width to fit card */
  width: 100%;
  padding: 20px;
  background: #faedcd;
  border-top-left-radius: 20px;
  /* edit here to change the height of the content box */
  transform: translateY(150px);
  transition: transform 0.25s;
  transform: translateY(0);
  font-family: "Rancho", cursive;
  box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, 0.5);
}
.evento .card_content::before {
  content: "";
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #faedcd;
  z-index: 10;
}
.evento .card_title {
  color: #131313;
  line-height: 15px;
  font-size: 4rem;
}
.evento .card_subtitle {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 400;
}
.evento .card_description {
  font-size: 1.8rem;
  opacity: 1;
  transition: opacity 0.5s;
}
.evento__mapa {
  width: 60%;
  margin: 60px auto;
  padding: 8px 16px;
  background: #d4a373;
  font-family: "Rancho", cursive;
  font-size: 4rem;
  text-align: center;
}

.bebes {
  width: 100%;
  background: #faedcd;
  font-size: 4rem;
  text-align: center;
  padding: 20px 10px;
  font-family: "Rancho", cursive;
}
.bebes span {
  display: block;
  margin: 12px auto;
  width: 80%;
  font-size: 2.6rem;
}
.bebes p {
  width: 50%;
  margin: auto;
  font-size: 2.6rem;
}
.bebes svg {
  width: 30%;
  margin: 16px auto;
}

.galeria {
  width: 100%;
  /* Let's make it responsive */
}
.galeria .titulo {
  text-align: center;
  font-size: 9rem;
  color: #ccd5ae;
  margin: 80px auto;
}
.galeria .grid-gallery {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 300px;
  grid-auto-flow: dense;
  grid-gap: 10px;
}
.galeria .grid-gallery .grid-item {
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}
.galeria .grid-gallery .grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.galeria .grid-gallery .grid-item:hover img {
  transform: scale(1.1);
}
.galeria .grid-gallery .grid-item a {
  cursor: zoom-in;
}
.galeria .grid-gallery .grid-item:nth-child(3n-2) {
  grid-column: span 2;
  grid-row: span 2;
}
@media (max-width: 768px) {
  .galeria .grid-gallery {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 120px;
  }
  .galeria .grid-gallery .grid-item:nth-child(3n) {
    grid-column: unset;
    grid-row: unset;
  }
}

.form {
  width: 100%;
  height: 50vh;
}

@media only screen and (max-width: 768px) {
  audio {
    width: 110px;
    opacity: 0.1;
  }
  .myhr {
    width: 80%;
    margin: 20px auto;
  }
  .root {
    width: 100vw;
    margin: 0 auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    position: relative;
    border: none;
    overflow-x: none;
  }
  .header {
    width: 100vw;
    background-image: url("../../assets/img/header_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  .header .logo {
    position: absolute;
    top: 30%;
    width: 95%;
    margin: auto;
    filter: drop-shadow(0 2px 2px rgba(8, 5, 0, 0.952));
  }
  .header .button {
    display: block;
  }
  .header__adorno {
    top: 101%;
  }
  .main {
    overflow: hidden;
  }
  .main .myhr {
    width: 80%;
  }
  .main .titulo {
    font-size: 5rem;
  }
  .main .subtitulo {
    font-family: "Rancho", cursive;
    font-size: 1.6rem;
    width: 90%;
  }
  .main model-viewer {
    width: 90%;
  }
  .main .box-counter {
    width: 100%;
    overflow: hidden;
  }
  .main .box-counter p span {
    font-size: 2rem;
    margin: 8px auto;
  }
  .main .protocolo {
    flex-direction: column;
    gap: 30px;
  }
  .main .protocolo figure {
    width: 40%;
  }
  .main .protocolo .flecha {
    transform: rotate(90deg) scale(0.5);
  }
  .iglesia {
    width: 100%;
    height: auto;
    position: relative;
    display: block;
    overflow: hidden;
  }
  .iglesia__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 94%;
    margin: 10px auto;
    height: auto;
  }
  .iglesia__content .bx-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: auto;
    font-size: 6rem;
  }
  .iglesia__content .bx-top__a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .iglesia__content .bx-top__a figure {
    width: 100%;
    margin: 10px;
  }
  .iglesia__content .bx-top__b {
    width: 100%;
    height: auto;
  }
  .iglesia__content .bx-top__b div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
  }
  .iglesia__content .bx-top__b div figure {
    width: 90%;
    margin: 10px;
  }
  .iglesia__content .bx-top__b div iframe {
    width: 90%;
  }
  .iglesia__content .bx-bot {
    width: 100%;
    height: 30%;
    padding: 14px 0;
  }
  .iglesia .div {
    position: relative;
  }
  .iglesia .div.hide {
    display: none;
  }
  .iglesia .div:nth-child(1) {
    top: 0;
    right: 0;
  }
  .iglesia .div:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  .iglesia .div .capa_1 {
    width: 300px;
    margin: 10px;
  }
  .iglesia .div .capa_1 path {
    fill: #faedcd;
  }
  .iglesia .div .capa_3 {
    width: 350px;
    margin: 10px;
  }
  .iglesia .div .capa_3 path {
    fill: #ccd5ae;
  }
  .evento {
    width: 100%;
    padding: 20px 10px;
  }
  .evento .myhr {
    width: 80%;
    margin: 20px auto;
  }
  .evento .card {
    width: 90%;
    height: 390px;
  }
  .bebes h2 {
    font-size: 2.8rem;
  }
  .bebes span {
    width: 95%;
    font-size: 2rem;
  }
  .bebes svg {
    width: 70%;
  }
  .bebes h3 {
    font-size: 2.6rem;
  }
  .bebes p {
    width: 95%;
    font-size: 2rem;
  }
  .galeria .titulo {
    width: 80%;
    font-size: 6rem;
  }
  @keyframes hidebar {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/*# sourceMappingURL=style.css.map */
